certifi==2021.5.30
click
colorama 
Flask
importlib-metadata
itsdangerous 
Jinja2
joblib
MarkupSafe
mkl-fft
mkl-random
mkl-service
numpy
scikit-learn
scipy 
six
threadpoolctl
Werkzeug
wincertstore
zipp 
